<h3 class="my-5">
    Contact us
</h3>

<div class="row gx-5">
    <div class="col-7">
        <h1>Send us a message</h1>
        <h5>Contact us by sending an email</h5>
        <email address="info@@musicstore.com" content="Contact us" class="btn btnalert-secondary"></email>
    </div>
</div>