@{
    ViewData["Title"] = "Home Page";
}

<div class="slider mt-3">
    <div class="wrapper">
        <i id="left" class="bi bi-chevron-left"></i>
        <div class="carousel">
            <img src="~/imgs/photo1.jpg" alt="img">
            <img src="~/imgs/photo2.jpg" alt="img">
            <img src="~/imgs/photo3.jpg" alt="img">
            <img src="~/imgs/photo4.jpg" alt="img">
            <img src="~/imgs/photo5.jpg" alt="img">
        </div>
        <i id="right" class="bi bi-chevron-right"></i>
    </div>
</div>