@{
    ViewData["Title"] = "Home Page";
}

<div class="slider mt-3">
    <div class="wrapper">
        <i id="left" class="bi bi-chevron-left"></i>
        <div class="carousel">
            <img src="~/imgs/photo6.jpg" alt="img">
            <img src="~/imgs/photo7.jpg" alt="img">
            <img src="~/imgs/photo8.jpg" alt="img">
            <img src="~/imgs/photo9.jpg" alt="img">
            <img src="~/imgs/photo10.jpg" alt="img">
        </div>
        <i id="right" class="bi bi-chevron-right"></i>
    </div>
</div>

<div id="main-content" class="w-100 p-3">
    <span class="d-flex w-100 justify-content-center">Categories</span>
    <div class="d-flex w-100 flex-wrap align-content-between">

        <div class="card mt-3" style="width: 18rem;">
            <img class="card-img-top" src="~/imgs/categories/guit.jpg" alt="Card image cap" style="height: 16rem;">
            <div class="card-body">
                <p class="card-text">Guitars and Basses</p>
            </div>
        </div>

        <div class="card mt-3" style="width: 18rem;">
            <img class="card-img-top" src="~/imgs/categories/keys.jpg" alt="Card image cap" style="height: 16rem;">
            <div class="card-body">
                <p class="card-text">Keys</p>
            </div>
        </div>
        <div class="card mt-3" style="width: 18rem;">
            <img class="card-img-top" src="~/imgs/categories/drums.jpg" alt="Card image cap" style="height: 16rem;">
            <div class="card-body">
                <p class="card-text">Drums</p>
            </div>
        </div>
        <div class="card mt-3" style="width: 18rem;">
            <img class="card-img-top" src="~/imgs/categories/studio.jpg" alt="Card image cap" style="height: 16rem;">
            <div class="card-body">
                <p class="card-text">Studio</p>
            </div>
        </div>
        <div class="card mt-3" style="width: 18rem;">
            <img class="card-img-top" src="~/imgs/categories/microphones.jpg" alt="Card image cap" style="height: 16rem;">
            <div class="card-body">
                <p class="card-text">Microphones</p>
            </div>
        </div>
        <div class="card mt-3" style="width: 18rem;">
            <img class="card-img-top" src="~/imgs/categories/software.jpg" alt="Card image cap" style="height: 16rem;">
            <div class="card-body">
                <p class="card-text">Software</p>
            </div>
        </div>
        <div class="card mt-3" style="width: 18rem;">
            <img class="card-img-top" src="~/imgs/categories/acc.jpg" alt="Card image cap" style="height: 16rem;">
            <div class="card-body">
                <p class="card-text">Accessories</p>
            </div>
        </div>

        
    </div>
</div>

